.data1 {
    text-align: center;
    margin-top: 30px;

}

.data {
    text-align: center;
    font-size: 20px;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width:300) {
    .display {
        flex-wrap: wrap;
    }
}

.clg {
    height: 210px;
}

.card {
    text-align: center;
}

.img-card {
    margin-top: 40px;
    box-shadow: 1px 1px 10px 1px rgb(194, 192, 192);
    transition: 2s;
}

.img-card:hover {
    transform: scale(0.9);
}



.on {
    margin:40px;
    text-align: center;
}

.plat {
    margin-top: 30px;
    /* border: 1px solid  ; */
    box-shadow: 1px 1px 10px 1px rgb(168, 166, 166);
    border-radius: 10px;
    min-height:20vh;
    width: 90vw;
    margin: auto;
margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

@media screen and (max-width:300px) {
    .plat {
        flex-wrap: wrap;
    }
}

.plat2{
    margin: 20px;
}
.card-card{
    text-align: center;
    margin-top: 70px;
}
.support {
    width: 100vw;
}
.card-card3 {
    min-height: 60vh;
    width: 100vw;
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
@media screen and(max-width:300) {
    .card-card3{
        flex-wrap: wrap;
    }
}
.img-img {
    height:20vw;
    width:28vw;
    display: block;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px rgb(162, 162, 162);
    transition:2s;
}   
.img-img:hover{
/* transition: 3s;   */
transform: scale(0.9);

}
.div-div {
    /* border: 2px solid black; */
    min-height: 40vh;
    width: 60vw;
    
}


.support {
    /* margin-top: 30px; */
    margin-bottom: 40px;
}

.main-eate {
    /* margin-top: 50px; */
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

@media screen and(max-width:300) {
    .main-eate{
        flex-wrap: wrap;
    }
}
.eate {
    height:20vw;
    width:30vw;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 1px rgb(151, 151, 151);
    transition: 2s;
}
.eate:hover{
    transform: scale(0.9);
}

.employe {
    margin-top: 50px;
}