.main-foot{
    min-height:250px;
    width: 100vw;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
margin-top: 40px;
}
.logo-foot{
    height: 350px;
    width:350px;
    border-radius:90px;
    margin-top:-60px;
    margin-left:20px;
}
.footerr{
    display: flex;
    flex-wrap:wrap;
}
@media screen and (max-width:300px){
    .footerr{
        flex-wrap: wrap;
    }
}
.aboutus{
    margin-top:40px;
    margin-left:90px;
    font-size: x-large;
    font-weight: 600;
    /* font-family:Arial, Helvetica, sans-serif; */
    /* color:white; */
    font: bold;
}
.list{
    text-decoration: none;
    /* color: white; */
    margin-left: 50px;
    font-size:20px;
}
.insta{
    height: 40px;
    width: 40px;
    margin:5px;
}