.div-m{
    display:inline-block;
    margin-left:80px;
    margin-top: 20px;
    border-radius: 20px;
}
.div-m:hover{
    transform:scale(0.9) ;
}
.main-div-div{
    /* border: 1px solid; */
    box-shadow: 1px 1px 16  px 1px rgb(133, 132, 132);
height:35vw;
width:25vw;
border-radius: 20px;
}

.bbt {
    height:4vw;
    width:10vw;
    display: block;
    text-decoration: none;
    margin: auto;
    text-decoration: none;
    border-radius:10px;
    font-size:larger;
    font-style: bold;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
}

.imgee{
    height:20vw;
    width:25vw;
    border-radius: 20px;
    /* border: 1px solid; */
}
.img-title{
    text-align: center;
    margin-top:20px;
}
.img-des{
    text-align: center;
}