.tabletag{
    margin-top:150px;
    border: 2px solid;
    min-height: 60vh;
    width: 100vw;
    text-align: center;
}
/* .deletbtn{
    border-radius: 10px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
} */
th{
    height: 50px;
    border: 1px solid black;
}
td{
    border: 1px solid;
}